 <!-- Page Header -->
 <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="page-header-title">Ordenes de compra</h1>
      </div>
      <!-- End Col -->

      <div class="col-auto">
        <a class="btn btn-primary" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modalAdd">
          <i class="bi-file-earmark-plus me-1"></i> Nueva Orden de compra
        </a>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <div class="row justify-content-end mb-3">
    <div class="col-lg">
      <!-- Datatable Info -->
      <div id="datatableCounterInfo" style="display: none;">
        <div class="d-sm-flex justify-content-lg-end align-items-sm-center">
          <span class="d-block d-sm-inline-block fs-5 me-3 mb-2 mb-sm-0">
            <span id="datatableCounter">0</span>
            Selected
          </span>
          <a class="btn btn-outline-danger btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
            <i class="bi-trash"></i> Delete
          </a>
          <a class="btn btn-white btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
            <i class="bi-archive"></i> Archive
          </a>
          <a class="btn btn-white btn-sm mb-2 mb-sm-0 me-2" href="javascript:;">
            <i class="bi-upload"></i> Publish
          </a>
          <a class="btn btn-white btn-sm mb-2 mb-sm-0" href="javascript:;">
            <i class="bi-x-lg"></i> Unpublish
          </a>
        </div>
      </div>
      <!-- End Datatable Info -->
    </div>
  </div>
  <!-- End Row -->

  <!-- Card -->
  <div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-md-between">
      <div class="mb-2 mb-md-0">
        <form>
          <!-- Search -->
          <div class="input-group input-group-merge input-group-flush">
            <div class="input-group-prepend input-group-text">
              <i class="bi-search"></i>
            </div>
            <input id="datatableSearch" type="search" class="form-control form-control-sm" placeholder="Buscar" aria-label="Search users">
          </div>
          <!-- End Search -->
        </form>
      </div>

      <div class="d-grid d-sm-flex gap-2">
        <button class="btn btn-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="bi-filter me-1"></i> Filtros
        </button>
      </div>
    </div>
    <!-- End Header -->

    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{
               "columnDefs": [{
                  "targets": [0, 4, 9],
                  "width": "5%",
                  "orderable": false
                }],
               "order": [],
               "info": {
                 "totalQty": "#datatableWithPaginationInfoTotalQty"
               },
               "search": "#datatableSearch",
               "entries": "#datatableEntries",
               "pageLength": 12,
               "isResponsive": false,
               "isShowPaging": false,
               "pagination": "datatablePagination"
             }'>
        <thead class="thead-light">
          <tr>
            <th class="table-column-pe-0">Folio</th>
            <th>Req</th>
            <th>Proveedor</th>
            <th>Solicitado Por</th>
            <th>Estatus</th>
            <th>Fecha/Hora</th>
            <th>Sub Total</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Moneda</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of data">
            <td class="table-column-pe-0">
              <h5 class="text-inherit mb-0">{{item.folio}}</h5>
            </td>
            <td>{{item.folioReq}}</td>
            <td>{{item.providerid.businesName}}</td>
            <td>
              {{item.user_create.userName}}
            </td>
            <td>
              <span *ngIf="item.status == 0" class="badge text-bg-primary">Por Aprobar</span>
              <span *ngIf="item.status == 1" class="badge text-bg-success">Aprobada</span>
              <span *ngIf="item.status == 2" class="badge text-bg-danger">Cancelada</span>
              <span *ngIf="item.status == 3" class="badge text-bg-warning">Entrega en proceso</span>
              <span *ngIf="item.status == 4" class="badge text-bg-dark">Finalizada</span>
            </td>
            <td>{{item.dateCreate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{item.Subtotal | currency:item.currencyType }}</td>
            <td>{{item.iva}}</td>
            <td>{{item.Total | currency:item.currencyType }}</td>
            <td>{{item.currencyType }}</td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-white text-primary btn-sm" (click)="updateStatus(item._id,1)" *ngIf="item.status == 0">
                  <i class="bi-clock-history me-1"></i> Por Aprobar
                </a>
                <a class="btn btn-white text-danger btn-sm" *ngIf="item.status == 2">
                  <i class="bi-ban me-1"></i> Cancelada
                </a>
                <a class="btn btn-white text-success btn-sm" *ngIf="item.status == 1">
                  <i class="bi-file-earmark-check me-1"></i> Aprobada
                </a>
                <a class="btn btn-white text-warning btn-sm" *ngIf="item.status == 3">
                  <i class="bi-truck me-1"></i> Entrega en proceso
                </a>
                <a class="btn btn-white text-secondary btn-sm" *ngIf="item.status == 4">
                  <i class="bi-check me-1"></i> Finalizada
                </a>

                <!-- Button Group -->
                <div class="btn-group">
                  <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown1" data-bs-toggle="dropdown" aria-expanded="false"></button>

                  <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="productsEditDropdown1">
                    <a class="dropdown-item" (click)="updateStatus(item._id,2)">
                      <i class="bi-x-lg dropdown-item-icon"></i> Cancelar
                    </a>
                    <a class="dropdown-item" href="{{api+'oc/pdf/'+item.folio}}" target="_blank">
                      <i class="bi-download dropdown-item-icon"></i> Descargar
                    </a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#opdfModal" (click)="orderSelect = item">
                      <i class="bi-eye dropdown-item-icon"></i> Visualizar
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-send dropdown-item-icon"></i> Enviar Por correo
                    </a>
                  </div>
                </div>
                <!-- End Button Group -->
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
      <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
        <div class="col-sm mb-2 mb-sm-0">
          <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
            <span class="me-2">Mostrar:</span>

            <!-- Select -->
            <div class="tom-select-custom">
              <select id="datatableEntries" class="js-select form-select form-select-sm form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                        "searchInDropdown": false,
                        "hideSearch": true
                      }'>
                <option value="12">12</option>
                <option value="14" selected>14</option>
                <option value="16">16</option>
                <option value="18">18</option>
              </select>
            </div>
            <!-- End Select -->

            <span class="text-secondary me-2">of</span>

            <!-- Pagination Quantity -->
            <span id="datatableWithPaginationInfoTotalQty">12312</span>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-auto">
          <div class="d-flex justify-content-center justify-content-sm-end">
            <!-- Pagination -->
            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Footer -->
  </div>
  <!-- End Card -->

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Filtrar información</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      ...
    </div>
  </div>


  <div class="modal" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true" style="height: 100%;">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="height: 100%; overflow: scroll;">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="container">

          <div class="modal-header">
            <h5 class="modal-title">Requisición</h5>
            <button type="button" id="close_btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label form-label-sm">Solicitado por: <strong>{{user.userName}}</strong></label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="ligarConRequisicion" name="useReq" [(ngModel)]="useReq">
                      <label class="form-check-label" for="ligarConRequisicion">Ligar Con Requisición</label>
                  </div>
                  <div class="mb-3 col-4" *ngIf="useReq">
                    <label for="folioReq" class="form-label form-label-sm">Requisition</label>
                    <input type="text" class="form-control form-control-sm" id="folioReq" name="folioReq" [(ngModel)]="formData.folioReq" (blur)="validateReq()">
                  </div>
                </div>
                <div class="col" *ngIf="infoAdv">
                  <h5 class="text-danger">Advertencia!!!</h5>
                  <ul>
                    <li *ngFor="let item of listAdv">{{item}}</li>
                  </ul>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="proveedor" class="form-label form-label-sm">Proveedor</label>
                    <select class="form-select form-select-sm" id="providerid" name="providerid" [(ngModel)]="formData.providerid" required (change)="loadRFC()">
                      <option *ngFor="let item of proveedores" value="{{item._id}}">{{item.businesName}}</option>
                      <!-- Opciones de proveedores -->
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="rfc" class="form-label form-label-sm">RFC</label>
                    <input type="text" class="form-control form-control-sm" id="rfc" name="RFC" [(ngModel)]="formData.RFC" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="fechaEsperada" class="form-label form-label-sm">Fecha Esperada</label>
                    <input type="date" class="form-control form-control-sm" id="waitDate" name="waitDate" min="{{today}}" [(ngModel)]="formData.waitDate" required>
                </div>
                <div class="col-md-3">
                    <label for="cc" class="form-label form-label-sm">C.C.</label>
                    <select class="form-select form-select-sm" id="cc" name="CC" [(ngModel)]="formData.CC" required>
                      <option *ngFor="let item of catalogos.cc" value="{{item.value + '-' + item.name}}">{{item.value}} - {{item.name}}</option>
                      <!-- Agregar opciones según sea necesario -->
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="sucursal" class="form-label form-label-sm">Sucursal</label>
                    <select class="form-select form-select-sm" id="branch" name="branch" [(ngModel)]="formData.branch" required>
                      <option *ngFor="let item of catalogos.suc" value="{{item._id}}">{{item.name}}</option>
                      <!-- Opciones de sucursales -->
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="formaPago" class="form-label form-label-sm">Forma de pago</label>
                    <select class="form-select form-select-sm" id="currency" name="currency" [(ngModel)]="formData.currency" required>
                      <option value="">Seleccione una opción</option>
                      <option value="CONT">Contado</option>
                      <option value="CREDIT">Credito</option>
                      <option value="TERM">Plazo</option>
                      <option value="MED">50%-50%</option>
                      <!-- Más opciones -->
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="iva" class="form-label form-label-sm">IVA</label>
                    <select name="iva" class="form-select form-select-sm" id="iva" [(ngModel)]="formData.iva" required (change)="calculateTotal()">
                      <option value="16">16%</option>
                      <option value="0">0%</option>
                      <option value="8">8%</option>
                      <option value="0">EXCENTO</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="divisa" class="form-label form-label-sm">Divisa</label>
                    <select class="form-select form-select-sm" id="currencyType" name="currencyType" [(ngModel)]="formData.currencyType" required>
                      <option value="">Seleccione una opción</option>
                      <option value="MXN">MXN</option>
                      <option value="USD">USD</option>
                      <!-- Más opciones -->
                    </select>

                </div>

                <div class="col-md-3">
                    <label for="flete" class="form-label form-label-sm">Flete</label>
                    <input type="number" class="form-control form-control-sm" id="flete" name="flete" [(ngModel)]="formData.flete" required (change)="calculateTotal()">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="ivaRetenido" class="form-label form-label-sm">IVA retenido</label>
                    <select name="ivaR" class="form-select form-select-sm" id="ivaRetenido" [(ngModel)]="formData.ivaR" required (change)="calculateTotal()">
                      <option value="0">0%</option>
                      <option value="4">4%</option>
                      <option value="6">6%</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="descuento" class="form-label form-label-sm">Descuento</label>
                    <input type="number" class="form-control form-control-sm" id="descuento" name="descuento" [(ngModel)]="formData.descuento" (change)="calculateTotal()">
                </div>
                <div class="col-md-3">
                    <label for="maquina" class="form-label form-label-sm">Máquina</label>
                    <select class="form-select form-select-sm" id="machineId" name="machineId" [(ngModel)]="formData.machineId" required>
                      <option *ngFor="let item of maquinas" value="{{item._id}}">{{item.description + ' ' +item.modelS}}</option>
                      <!-- Opciones de máquinas -->
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="isr" class="form-label form-label-sm">ISR</label>
                    <input type="number" class="form-control form-control-sm" id="isr" name="isr" [(ngModel)]="formData.isr">
                </div>
                <div class="col-12">
                  <label for="usoPrincipal" class="form-label form-label-sm">Uso Principal</label>
                  <input class="form-control form-control-sm" id="use" name="use" [(ngModel)]="formData.use">
              </div>
            </div>
            <hr>
            <h4>Agregar Producto</h4>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="producto" class="form-label form-label-sm">Producto</label>
                    <app-custom-dropdown *ngIf="productos.length > 0"
                      [options]="productos"
                      (optionSelected)="onOptionSelected($event)"
                      [selected]="selectProduct"
                    ></app-custom-dropdown>
                </div>
                <div class="col-md-2">
                    <label for="unidadMedida" class="form-label form-label-sm">Unidad de Medida</label>
                    <select class="form-select form-select-sm" id="unidadMedida" name="um" [(ngModel)]="product.um">
                      <option *ngFor="let item of catalogos.um" value="{{item.name}}">{{item.name}}</option>
                        <!-- Options here -->
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="cantidad" class="form-label form-label-sm">Cantidad</label>
                    <input type="number" class="form-control form-control-sm" id="cantidad" name="quantity" [(ngModel)]="product.quantity">
                </div>
                <div class="col-md-2">
                    <label for="precio" class="form-label form-label-sm">Precio</label>
                    <input type="number" class="form-control form-control-sm" id="precio" name="price" [(ngModel)]="product.price">
                </div>
                <div class="col-2 mt-4">
                    <button type="button" class="btn btn-outline-primary btn-custom mt-2" (click)="addProduct()">
                      <i class="bi bi-plus-square"></i>
                    </button>
                </div>
            </div>
            <div class="row">
              <table class="table table-hover">
								<thead>
									<tr class="">
										<th>#</th>
										<th>Producto</th>
										<th>Ancho</th>
										<th>Largo</th>
										<th>Unidad</th>
										<th>Cantidad</th>
										<th>Máquina</th>
										<th>Precio</th>
										<th>SubTotal</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of productosOrder; let i = index">
										<td>{{i+1}}</td>
										<td class="col-3">{{item.name}}</td>
                    <td>
                      <input class="form-control form-control-sm" type="number" name="productosOrder[{{i}}].width" placeholder="Ancho" [(ngModel)]="productosOrder[i].width">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="number" name="productosOrder[{{i}}].length" placeholder="Largo" [(ngModel)]="productosOrder[i].length">
                    </td>
										<td>
                      <select class="form-select form-select-sm" id="" name="productosOrder[{{i}}].um" [(ngModel)]="productosOrder[i].um">
                        <option *ngFor="let item of catalogos.um" value="{{item.name}}">{{item.name}}</option>
                          <!-- Options here -->
                      </select>
                    </td>
										<td>
                      <input type="number" class="form-control form-control-sm" id="" name="productosOrder[{{i}}].quantity" [(ngModel)]="productosOrder[i].quantity" (blur)="calculateTotal()">
                    </td>
										<td>{{item.machine?(item.machine.description +' '+item.machine.modelS):'N/A'}}</td>
                    <td>
                      <input class="form-control form-control-sm" type="number" name="productosOrder[{{i}}].price" placeholder="Precio" [(ngModel)]="productosOrder[i].price" (blur)="calculateTotal()">
                    </td>
                    <td>{{(productosOrder[i].price * productosOrder[i].quantity) | currency: formData.currencyType}}</td>
									</tr>
                  <tr>
                    <td colspan="7"></td>
                    <td style="font-weight: 900;">SubTotal</td>
                    <td>{{formData.Subtotal | currency:formData.currencyType}}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td style="font-weight: 900;">IVA({{formData.iva}})%</td>
                    <td>{{formData.ivaTotal | currency:formData.currencyType}}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td style="font-weight: 900;">IVA Retenido({{formData.ivaR}})%</td>
                    <td>{{formData.ivaRetTotal | currency:formData.currencyType}}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td style="font-weight: 900;">Descuento({{formData.descuento}})%</td>
                    <td>- {{formData.descuentoTotal | currency:formData.currencyType}}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td style="font-weight: 900;">Total</td>
                    <td>{{formData.Total | currency:formData.currencyType}}</td>
                  </tr>
								</tbody>
							</table>
            </div>
            <div class="mb-3">
                <label for="comentsComp" class="form-label form-label-sm">Comentarios</label>
                <textarea class="form-control form-control-sm" id="coments" name="coments" [(ngModel)]="formData.coments"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="opdfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">PDF Orden de compra</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-opdf [item]="orderSelect"></app-opdf>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="print()">Imprimir</button>
      </div>
    </div>
  </div>
</div>
