 <!-- Page Header -->
 <div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="page-header-title">Entrada de Materiales</h1>
    </div>
    <!-- End Col -->

  </div>
  <!-- End Row -->
</div>
<!-- End Page Header -->
<div class="row">
  <!-- Left Section -->
  <div class="col-md-8">
      <div class="card p-3">
          <h5 class="card-title text-center">{{isReq?'Req-':'OC-'}}{{folio}}<span class="text-muted"></span></h5>
          <hr>
          <div class="mb-3 col-4">
              <label for="search" class="form-label">Buscar</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="isReq" [(ngModel)]="isReq">
                <label class="form-check-label" for="flexCheckDefault">
                  Buscar Por Requisición
                </label>
              </div>
              <input type="text" class="form-control" id="search" placeholder="{{isReq?'Requisición':'Orden de compra'}}" name="folio" [(ngModel)]="folio" (blur)="findOC()">
          </div>
          <div class="table-responsive">
            <table class="table text-center text-dark table-hover table-striped">
                <thead class="table-primary">
                    <tr>
                        <th>Codigo</th>
                        <th>Producto</th>
                        <th>Unidad</th>
                        <th>Cantidad</th>
                        <th>Pendiente</th>
                        <th>Recibí</th>
                        <th>Costo</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data.products;let i = index">
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.um}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{(item.quantity - (item.recibido?item.recibido:0)) <= 0?0:(item.quantity - (item.recibido?item.recibido:0))}}</td>
                        <td>
                          <input type="number" class="form-control form-control-sm" min="0" name="item.rec" [(ngModel)]="item.rec" *ngIf="(item.quantity - (item.recibido?item.recibido:0)) > 0">
                          <span class="badge text-bg-success" *ngIf="(item.quantity - (item.recibido?item.recibido:0)) <= 0">Entregado</span>
                        </td>
                        <td>{{item.price | currency:data.currencyType}}</td>
                      </tr>
                </tbody>
            </table>
          </div>
          <div class="mb-3">
              <label for="notes" class="form-label">Notes</label>
              <textarea class="form-control" id="notes" rows="3" placeholder="Thanks for your business" [(ngModel)]="data.comentsMaterial" name="comentsMaterial"></textarea>
          </div>
      </div>
  </div>

  <!-- Right Section -->
  <div class="col-md-4">
      <div class="card p-3">
          <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="entregaSinFactura" checked="{{notFact}}" [(ngModel)]="notFact" name="notFact">
              <label class="form-check-label" for="entregaSinFactura">Entrega Sin factura</label>
          </div>
          <div class="mb-3" *ngIf="notFact">
              <label for="evidencia" class="form-label">Evidencia</label>
              <input type="file" class="form-control" accept="application/pdf"  id="evidencia" name="evidencia" (change)="loadFile($event,'ev')">
          </div>
          <div class="mb-3">
              <label for="factura" class="form-label">Factura</label>
              <input type="file" class="form-control" accept="application/pdf"  id="factura" name="factura" (change)="loadFile($event,'fac')">
          </div>
          <button type="button" class="btn btn-primary w-100" (click)="save()">Enviar</button>
      </div>
  </div>
  <div class="col-12 pt-4">
    <div class="card p-3">
      <div class="card-title">
        <h2 class="p-2"><i class="bi bi-list-ol"></i> Historial</h2>
      </div>
      <ul class="step">
        <li class="step-item" *ngFor="let item of dataEntry">
          <div class="step-content-wrapper">
            <div class="step-avatar">
              <img class="step-avatar" src="https://ui-avatars.com/api/?name={{item.user?.userName}}&background=0D8ABC&color=fff&size=128" alt="jua">
            </div>

            <div class="step-content">
              <h5 class="mb-1">{{item.user?.userName}}</h5>

              <p class="fs-5 mb-1">{{item.coments}}</p>

              <ul class="list-group list-group-sm">
                <!-- List Item -->
                <li class="list-group-item list-group-item-light col-6">
                  <div class="row gx-1">
                    <div class="col-6" *ngIf="item.evidenceName">
                      <!-- Media -->
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <img class="avatar avatar-xs" src="https://htmlstream.com/preview/front-dashboard-v2.1.1/assets/svg/brands/pdf-icon.svg" alt="Image Description">
                        </div>
                        <div class="flex-grow-1 text-truncate ms-2">
                          <span class="d-block fs-6 text-dark text-truncate" title="weekly-reports.xls"><a href="{{api+'oc/materiales/evidencia/'+item.evidenceName}}" target="_blank">{{item.evidenceName}}</a></span>
                          <span class="d-block small text-muted">{{item.evidenceFileSize}}kb</span>
                        </div>
                      </div>
                      <!-- End Media -->
                    </div>
                    <!-- End Col -->

                    <div class="col-6" *ngIf="item.factName">
                      <!-- Media -->
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <img class="avatar avatar-xs" src="https://htmlstream.com/preview/front-dashboard-v2.1.1/assets/svg/brands/pdf-icon.svg" alt="Image Description">
                        </div>
                        <div class="flex-grow-1 text-truncate ms-2">
                          <span class="d-block fs-6 text-dark text-truncate" title="weekly-reports.xls"><a href="{{api+'oc/materiales/fact/'+item.factName}}" target="_blank">{{item.factName}}</a></span>
                          <span class="d-block small text-muted">{{item.factFileSize}}kb</span>
                        </div>
                      </div>
                      <!-- End Media -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                </li>
                <!-- End List Item -->
              </ul>
              <p class="mb-1" style="font-size: 10px; font-weight: 900;">{{item.create_at | date:'dd/MM/yyyy hh:mm:ss'}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
