<div class="container mt-5 border p-4" id="printAreaOPDF">
    <div class="row">
        <div class="col text-end">
            <h1 class="text-primary">PURCHASE ORDER</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <h6>Vendor</h6>
            <p>
                [Company Name]<br>
                [Street Address]<br>
                [City, ST ZIP]<br>
                Phone: (000) 000-0000<br>
                Fax: (000) 000-0000
            </p>
        </div>
        <div class="col-6">
            <h6>Ship To</h6>
            <p>
                [Name]<br>
                [Company Name]<br>
                [Street Address]<br>
                [City, ST ZIP]<br>
                Phone: (000) 000-0000
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p><strong>Date:</strong> 9/17/2015</p>
        </div>
        <div class="col-6 text-end">
            <p><strong>PO #:</strong> [123456]</p>
        </div>
    </div>

    <table class="table table-bordered mt-4">
        <thead class="table-primary">
            <tr>
                <th>ITEM #</th>
                <th>DESCRIPTION</th>
                <th>QTY</th>
                <th>UNIT PRICE</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>[23423423]</td>
                <td>Product XYZ</td>
                <td>15</td>
                <td>$150.00</td>
                <td>$2,250.00</td>
            </tr>
            <tr>
                <td>[45454546]</td>
                <td>Product ABC</td>
                <td>1</td>
                <td>$75.00</td>
                <td>$75.00</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-6">
            <!-- Space for additional details if needed -->
        </div>
        <div class="col-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-end"><strong>Subtotal</strong></td>
                        <td>$2,325.00</td>
                    </tr>
                    <tr>
                        <td class="text-end"><strong>Tax</strong></td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td class="text-end"><strong>Shipping</strong></td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td class="text-end"><strong>Other</strong></td>
                        <td>$0.00</td>
                    </tr>
                    <tr class="table-primary">
                        <td class="text-end"><strong>Total</strong></td>
                        <td>$2,325.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h6>Comments or Special Instructions:</h6>
            <div class="border p-3" style="height: 100px;"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <p>If you have any questions about this purchase order, please contact</p>
            <p>[Name, Phone #, E-mail]</p>
        </div>
    </div>