.dropdown-toggle {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-toggle:focus {
  color: #495057;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.dropdown-menu {
  width: 100%;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.dropdown-item {
  padding: 0.375rem 0.75rem;
  color: #495057;
  text-align: left;
  text-decoration: none;
  background-color: #fff;
  border: none;
  width: 100%;
  white-space: normal; /* Permitir que el texto haga "wrap" */
  word-wrap: break-word; /* Opcional: romper palabras largas si es necesario */
}

.dropdown-item:hover {
  color: #fff;
  background-color: #0d6efd;
}

.dropdown-menu.show {
  display: block;
}
