/* You can add global styles to this file, and also import other style files */
/* styles.css o styles.scss */
@import '../node_modules/ngx-spinner/animations/square-jelly-box.css';

.datatable-custom{
  height: 45vh !important;
}

a:hover{
  cursor: pointer;
}


.btn-custom{
  --bs-btn-padding-y: .25rem !important;
  --bs-btn-padding-x: .5rem !important;
  --bs-btn-font-size: .75rem !important;
}
